* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: min-content 80vh repeat(4, min-content);
  grid-template-columns:
    [full-start] repeat(2, minmax(0.5rem, 1fr)) [center-start] repeat(
      2,
      minmax(0.5rem, 1fr)
    ) repeat(4, 16rem) repeat(2, minmax(0.5rem, 1fr))
    [center-end] repeat(2, minmax(0.5rem, 1fr)) [full-end];

  grid-row-gap: 3rem;
  padding: 2rem 0;
  min-height: 100vh;
}

.btn {
  border: none;
  border-radius: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  position: relative;

  &--green {
    color: $white;
    background-color: $green;
  }

  &--white {
    color: $black;
    background-color: $white;
  }
}

.heading {
  &--center {
    text-align: center;
  }

  &-md {
    padding-bottom: 1rem;
  }
}
