footer {
  grid-column: full-start / full-end;
  padding: 3rem;
  background-color: $grey;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.footer__container {
  padding: 1rem;
}

.footer__contacts {
  padding-top: 2rem;

  &__item {
    margin-bottom: 1rem;
    .icon {
      margin-right: 0.75rem;
    }
  }
}

.form-container {
  justify-self: start;
}

.form {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-columns: 100%;
  grid-gap: 1rem;
  padding-top: 2rem;

  &__control {
    padding: 0.5rem;
    background-color: $light-grey;
    border: none;
  }
}
