//////////////colours

$grey: #343a40;
$light-grey: #939aa4;
$light-grey-2: #999;
$green: #21ab64;
$white: #fff;
$black: #000;

//////////////overlays

$overlay-dark: rgba(0, 0, 0, 0.8);
$overlay-light: rgba(0, 0, 0, 0.4);

//////////////break points

$bp-small: 37.5em;
$bp-xsmall: 28em;
